# ============================
#   .editorconfig — AssoPerso
# ============================

root = true

# Global
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown
[*.md]
indent_size = 2
trim_trailing_whitespace = false

# JSON / YAML
[*.{json,yml,yaml}]
indent_size = 2

# Python
[*.py]
indent_size = 4
max_line_length = 120

# JavaScript / TypeScript
[*.{js,ts}]
indent_size = 2

# HTML / CSS
[*.{html,css}]
indent_size = 2

# Bash / Shell
[*.sh]
indent_style = space
indent_size = 4

# XML
[*.xml]
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
